.register {
  max-width: 358px;
  height: 100%;
  padding: 60px 30px 112px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .register {
    width: 100%;
    max-width: 260px;
    padding: 40px 30px 77px;
  }
}
